Source: dreal
Section: devel
Priority: optional
Maintainer: Soonho Kong <soonhok@cs.cmu.edu>
Build-Depends: autoconf, automake, bison, flex, git, libtool, make, cmake, pkg-config, g++-4.9, build-essential, libpython2.7, python2.7, python, coinor-libclp-dev, libnlopt-dev, libglpk-dev
Homepage: http://dreal.github.io

Package: dreal
Architecture: any
Depends: libstdc++-4.9-dev, libpython2.7, python2.7, python, libglpk-dev, coinor-libclp-dev, libnlopt-dev, libglpk-dev
Description: dReal SMT Solver and related tools
